:root {
  --heading-h1: clamp(2.6rem, 2.2cqi, 2.8rem);
  --heading-h4: clamp(1.6rem, 2cqi, 2rem);
  --text-normal: clamp(1.2rem, 1.2cqi, 1.6rem);
  --border-1: 1px solid rgba(255, 255, 255, 0.1);
  --border-2: 2px solid rgba(255, 255, 255, 0.1);
  --border-3: 1px solid var(--yellow-icon);
  --border-4: 1px solid var(--font-color-blue);
  --border-5: 1px solid var(--font-color-red);
  --border-radius: 1rem;
  --border-radius-circle: 50%;
  --font-family-p: "DM Sans", sans-serif;
  --font-weight-h1: 700;
  --font-weight-h2: 600;
  --font-weight-h3: 500;
  --font-weight-h4: 400;
  --bg-secondary: rgba(255, 255, 255, 0.1);
  --ovelay-bg: radial-gradient(
    farthest-corner at 20% 100%,
    rgba(0, 0, 0, 0.7) 30%,
    rgba(0, 0, 0, 0) 50%
  );
  --font-color-primary: rgba(255, 255, 255, 0.9);
  --font-color-blue: hsla(210, 100%, 66%, 1);
  --font-color-red: hsla(358, 100%, 69%, 1);
  --font-color-green: hsla(174, 90%, 41%, 1);
  --yellow-icon: #f0db4f;
  --red-icon: #cc3200;
}
#home {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 80%;
  height: 100dvh;
  color: var(--font-color-primary);
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
}
.home-container canvas{
  position: absolute;
  background-size: cover;
  background-position: center center;
  /* border: 1px solid green; */
}

.home-intro {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 10%;
  background-color: transparent;
}
.home-intro h1 {
  background: transparent;
  font-weight: 500;
  font-size: clamp(5rem, 7cqi, 6.6rem);
  font-family: var(--font-family-p);
}
.home-intro h3 {
  background: transparent;
  font-weight: 400;
  font-size: clamp(4rem, 2.2cqi, 2.6rem);
}
.home-container .blink-line {
  position: absolute;
  width: 1px;
  height: 15vh;
  top: 0;
  background: rgba(255, 255, 255, 0);
}


.blink-line {
  position: absolute;
  width: 1px;
  height: 15vh;
  top: 0;
  background: rgba(255, 255, 255, 0.1); /* Line color */
}

.blink-line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 1px;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 30s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

/* Specific styles for the first child line */
.home-container .blink-line:nth-child(1) {
  left: calc(var(--horizontal) * 2);
}

.home-container .blink-line:nth-child(1)::after {
  animation-delay: 8s; 
}

/* Specific styles for the second child line */
.home-container .blink-line:nth-child(2) {
  left: calc(var(--horizontal) * 8);
}

.home-container .blink-line:nth-child(2)::after {
  animation-delay: 16s; 
}

/* Specific styles for the third child line */
.home-container .blink-line:nth-child(3) {
  left: calc(var(--horizontal) * 0);
}

 .blink-line:nth-child(3)::after {
  animation-delay: 24s; 
}

/* Specific styles for the fourth child line */
.home-container .blink-line:nth-child(4) {
  left: calc(var(--horizontal) * 14 );
}

.home-container .blink-line:nth-child(4)::after {
  animation-delay: 32s; 
}

/* Keyframes for drop animation */
@keyframes drop {
  0% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 1000%;
    opacity: 0;
  }
}