:root{
  --font-family-p:  "DM Sans", sans-serif;
}


#home {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home-container {
  --horizontal:  calc(77 * 1000px/1000);
  --vertical: calc(65 * 1000px/1000);
  width: 80%;
  height: 100vh;
  color: #fff;
  position: relative;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: var(--horizontal) var(--vertical);
  background-position: middle center; 
  overflow: hidden;
}
.home-intro {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 10%;
  background-color: transparent;
}
.home-intro h1 {
  background: transparent;
  font-weight: 500;
  font-size: clamp(5rem, 7cqi, 6.6rem);
  font-family: var(--font-family-p);
}
.home-intro h3 {
  background: transparent;
  font-weight: 400;
  font-size: clamp(4rem, 2.2cqi, 2.6rem);
}
.home-intro p {
  background: transparent;
  font-weight: 400;
  font-size: clamp(2rem, 2.2cqi, 2.6rem);
}

.home-container .blink-line {
  position: absolute;
  width: 1px;
  height: 15vh;
  top: 0;
  background: rgba(255, 255, 255, 0);
}


.blink-line {
  position: absolute;
  width: 1px;
  height: 15vh;
  top: 0;
  background: rgba(255, 255, 255, 0.1); /* Line color */
}

.blink-line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 1px;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 30s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

/* Specific styles for the first child line */
.home-container .blink-line:nth-child(1) {
  left: calc(var(--horizontal) * 2);
}

.home-container .blink-line:nth-child(1)::after {
  animation-delay: 8s; 
}

/* Specific styles for the second child line */
.home-container .blink-line:nth-child(2) {
  left: calc(var(--horizontal) * 8);
}

.home-container .blink-line:nth-child(2)::after {
  animation-delay: 16s; 
}

/* Specific styles for the third child line */
.home-container .blink-line:nth-child(3) {
  left: calc(var(--horizontal) * 0);
}

 .blink-line:nth-child(3)::after {
  animation-delay: 24s; 
}

/* Specific styles for the fourth child line */
.home-container .blink-line:nth-child(4) {
  left: calc(var(--horizontal) * 14 );
}

.home-container .blink-line:nth-child(4)::after {
  animation-delay: 32s; 
}

/* Keyframes for drop animation */
@keyframes drop {
  0% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 1000%;
    opacity: 0;
  }
}